<footer class="footer">
    <div class="footer__img">
        <img src="../assets/footer_img.jpg" alt="">
    </div>
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__column footer__column_info info-column">
                <div class="info-column__list">
                    <div class="info-column__title">Каталог товарів
                        <span class="info-column__btn"></span>
                        <span class="info-column__btn"></span>
                    </div>
                    
                    <ul class="info-column__menu">
                        <li class="info-column__item">
                            <a href="#">Одяг</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Медицина</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Підсумки</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Рюкзаки</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Розгрузки</a>
                        </li>
                    </ul>
                </div>
                <div class="info-column__list">
                    <div class="info-column__title">Покупцям
                        <span class="info-column__btn"></span>
                    </div>
                    <ul class="info-column__menu">
                        <li class="info-column__item">
                            <a href="#">Розмірна сітка</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Матеріали</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Доставка та оплата</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Обмін та повернення</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Контакти</a>
                        </li>
                    </ul>
                </div>
                <div class="info-column__list">
                    <div class="info-column__title">Компанія
                        <span class="info-column__btn"></span>
                    </div>
                    <ul class="info-column__menu">
                        <li class="info-column__item">
                            <a href="#">Блог</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Публічна оферта</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Політика конфіденційності</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Правила використання файлів Cookie</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__column footer__column-right">
                <div class="footer__contacts">
                    <div class="info-column__title">Контакти
                        <span class="info-column__btn"></span>
                    </div>
                    <div class="footer__contacts-wrapper">
                        <a href="tel:+380968120013" class="footer__contacts-link">
                            <div class="footer__contacts-info footer__contacts-info_phone">
                                <span class="footer__contacts-title">+38 (096) 812 00 13</span>
                                <span class="footer__contacts-descr">Пн–Сб, 09:00–19:00</span>
                            </div>
                        </a>
                        <a href="mailto:hofner.ukraine@gmail.com" class="footer__contacts-link">
                            <div class="footer__contacts-info footer__contacts-info_mail">
                                <span class="footer__contacts-title">hofner.ukraine@gmail.com</span>
                                <span class="footer__contacts-descr">Електронна адреса</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="footer__form">
                    <div class="form__title">Підписка на новини та акції</div>
                    <form action="#" class="form">
                        <div class="form__input">
                            <input type="text"" placeholder="E-mail">
                        </div>
                        <button class="form__btn">ОФОРМИТИ ПІДПИСКУ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bot bot-footer">
        <div class="container">
            <div class="bot-footer__wrapper">
                <div class="bot-footer__column bot-footer__column_logo">
                    <a href="#" class="bot-footer__logo"><img src="../assets/logo.png" alt="logo"></a>
                    <div class="bot-footer__bank">
                        <span class="mastercard"><img src="../assets/icon-visa.png"></span>
                        <span class="visa"><img src="../assets/icon-mastercard.png" ></span>
                    </div>
                </div>
                <div class="bot-footer__column bot-footer__column_soc">
                    <div class="bot-footer__social">
                        <a href="#" class="_icon-facebook"></a>
                        <a href="#" class="_icon-instagram"></a>
                        <a href="#" class="_icon-youtube"></a>
                    </div>
                    <a href="#" class="bot-footer__solutions _icon-wss"><span>Quality Business Solutions</span></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<a href="#up" class="pageup">
    <img class="pageup__desc" src="../assets/pageup.jpg" alt="">
    <img class="pageup__mob" src="../assets/pageup-mob.jpg" alt="">
</a>

<div class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <div class="popup__tabs">
                <span class="popup__tabs-tab active">Реєстрація</span>
                <span class="popup__tabs-tab">Вхід до акаунту</span>
                <span class="popup__close">Закрити</span>
            </div>
            <div class="popup__tab_content">
                <div class="tab_item">
                    <form action="#" class="popup__form">
                        <div class="popup__form-wrapper">
                            <div class="popup__form_input"><input type="text" placeholder="Ім’я*"></div>
                            <div class="popup__form_input"><input type="text" placeholder="E-mail*"></div>
                            <div class="popup__form_input"><input type="text" placeholder="Номер телефону*"></div>
                            <div class="popup__form_input"><input type="text" placeholder="Придумайте пароль*"></div>
                        </div>
                        <div class="popup__register">
                            <input type="checkbox" class="popup__register-input" id="register">
                            <label for="register">Я погоджуюсь на обробку персональних даних*</label>
                        </div>
                        <button class="popup__form-btn">Зареєструватись</button>
                        <div class="popup__footer">
                            <span class="popup__footer-text">Увійти через соцмережі</span>
                            <a href="#" class="popup__footer-link">
                                <img src="../assets/Facebook.svg" alt="">
                            </a>
                            <a href="#" class="popup__footer-link">
                                <img src="../assets/Google.svg" alt="">
                            </a>
                        </div>
                    </form>
                </div>
                <div class="tab_item">
                    <form action="#" class="popup__form">
                        <div class="popup__form-wrapper">
                            <div class="popup__form_input"><input type="text" placeholder="E-mail*"></div>
                            <div class="popup__form_input"><input type="text" placeholder="Придумайте пароль*"></div>
                        </div>
                        <a href="#" class="popup__form-forget">Забули пароль?</a>
                        <button class="popup__form-btn">Увійти</button>
                        <div class="popup__footer">
                            <span class="popup__footer-text">Увійти через соцмережі</span>
                            <a href="#" class="popup__footer-link">
                                <img src="../assets/Facebook.svg" alt="">
                            </a>
                            <a href="#" class="popup__footer-link">
                                <img src="../assets/Google.svg" alt="">
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-reload">
    <div class="popup-reload__body">
        <div class="popup-reload__content">
            <div class="popup__tabs">
                <span class="popup__tabs-tab reload-tab">Відновлення паролю</span>
                <span class="popup__close">Закрити</span>
            </div>
            <form action="#" class="popup__form reload-form">
                <div class="popup__form_input"><input type="text" placeholder="E-mail*"></div>
                <button class="popup__form-btn reload-btn">Відновити пароль</button>
            </form>
            <div class="popup__reload-text">
                Ми надішлемо вам лист на електронну пошту
            </div>
        </div>
    </div>
</div>

<div class="popup-reg">
    <div class="popup-reg__body">
        <div class="popup-reg__content">
            <span class="popup__advant-close">Закрити</span>
            <img src="../assets/reg.png" alt="" class="advant__item-icon">
            <div class="advant__item-title">Дякуємо за реєстрацію!</div>
            <p class="advant__item-text">
                Тепер ви можете зберігати дані про себе для майбутніх покупок, а також переглядати історію замовлень та мати доступ до програми лояльності
            </p>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
