<header id="up" class="header">
    <div id="up" class="header__top">
        <div class="container">
            <div class="header__top-wrapper">
            <div class="header__top-infa">
                <span class="header__top-days">ПН-СБ: 09:00–19:00</span>
                <a href="tel:+380968120013" class="header__top-call">+38 (096) 812 00 13</a>
            </div>
            <div class="header__info info-header">
                <div class="header__lang">
                    <span class="info-header__title">Мова:</span>
                    <span class="info-header__language">Укр</span>
                    <span class="info-header__arrow"></span>
                    <ul class="header__lang-dropdown">
                        <li class="header__lang-item"><span>Українська</span></li>
                        <li class="header__lang-item"><span>Русский</span></li>
                        <li class="header__lang-item"><span>English</span></li>
                    </ul>
                </div>
                <div class="header__cash">
                    <span class="info-header__title">Валюта:</span>
                    <span class="info-header__language">UAH</span>
                    <span class="info-header__arrow"></span>
                    <ul class="header__cash-dropdown">
                        <li class="header__cash-item"><span>Eur</span></li>
                        <li class="header__cash-item"><span>Uah</span></li>
                        <li class="header__cash-item"><span>Usd</span></li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="container">
            <div class="header__main-wrapper">
                <div class="header__main_mobile">
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header__icon header__icon-search header__icon-burger _icon-search">
                        <div class="header__icon-input">
                            <a href="#" class="header__icon-search _icon-search"></a>
                            <span class="input-close">&#10006</span>
                            <input type="text" placeholder="Пошук">
                        </div>
                    </div>
                </div>
                <a href="#" class="header__logo">
                    <img class="header__logo-img" src="../assets/logo.png" alt="logo">
                    <img class="header__logo-img_mobile" src="logo-mob.svg" alt="logo">
                </a>
                <nav class="header__menu">
                    <div class="header__menu_top">
                        <div class="header__lang">
                            <span class="info-header__title">Мова:</span>
                            <span class="info-header__language">Укр</span>
                            <span class="info-header__arrow"></span>
                        </div>
                        <ul class="header__lang-dropdown">
                            <li class="header__lang-item"><span>Українська</span></li>
                            <li class="header__lang-item"><span>Русский</span></li>
                            <li class="header__lang-item"><span>English</span></li>
                        </ul>
                        <div class="header__cash">
                            <span class="info-header__title">Валюта:</span>
                            <span class="info-header__language">UAH</span>
                            <span class="info-header__arrow"></span>
                        </div>
                        <ul class="header__cash-dropdown">
                            <li class="header__cash-item"><span>Eur</span></li>
                            <li class="header__cash-item"><span>Uah</span></li>
                            <li class="header__cash-item"><span>Usd</span></li>
                        </ul>
                        <div class="header__icon header__icon-man _icon-man"></div>
                        <div class="header__menu-close"><span>&#10006</span></div>
                    </div>
                    <ul class="header__list">
                        <li class="header__list-item">
                            <a href="#" class="header__link">Одяг</a>
                            <span class="header__list-btn"></span>
                            <div class="header__submenu">
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Підсумки для магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для пістолетних магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для автоматних магазинів</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гранат</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для рацій</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Універсальні</a></li>
                                </ul>
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Утилітарні</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Пістолетні кобури</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Чохол короба ПКМ</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гідросистеми</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка-сухарка</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка для скиду магазинів</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__list-item">
                            <a href="#" class="header__link">Медицина</a>
                            <span class="header__list-btn"></span>
                            <div class="header__submenu">
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Підсумки для магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для пістолетних магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для автоматних магазинів</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гранат</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для рацій</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Універсальні</a></li>
                                </ul>
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Утилітарні</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Пістолетні кобури</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Чохол короба ПКМ</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гідросистеми</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка-сухарка</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка для скиду магазинів</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__list-item">
                            <a href="#" class="header__link">Підсумки</a>
                            <span class="header__list-btn"></span>
                            <div class="header__submenu">
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Підсумки для магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для пістолетних магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для автоматних магазинів</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гранат</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для рацій</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Універсальні</a></li>
                                </ul>
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Утилітарні</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Пістолетні кобури</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Чохол короба ПКМ</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гідросистеми</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка-сухарка</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка для скиду магазинів</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__list-item"><a href="#" class="header__link">Рюкзаки</a>
                            <span class="header__list-btn"></span>
                            <div class="header__submenu">
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Підсумки для магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для пістолетних магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для автоматних магазинів</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гранат</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для рацій</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Універсальні</a></li>
                                </ul>
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Утилітарні</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Пістолетні кобури</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Чохол короба ПКМ</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гідросистеми</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка-сухарка</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка для скиду магазинів</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="header__list-item"><a href="#" class="header__link">Розгрузки</a>
                            <span class="header__list-btn"></span>
                            <div class="header__submenu">
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Підсумки для магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для пістолетних магазинів</a></li>
                                    <li class="header__submenu-item header__submenu-circle"><a href="#" class="header__submenu-link">Для автоматних магазинів</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гранат</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для рацій</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Універсальні</a></li>
                                </ul>
                                <ul class="header__submenu-list">
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Утилітарні</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Пістолетні кобури</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Чохол короба ПКМ</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Для гідросистеми</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка-сухарка</a></li>
                                    <li class="header__submenu-item"><a href="#" class="header__submenu-link">Сумка для скиду магазинів</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="header__list-footer">
                        <li class="info-column__item">
                            <a href="#">Розмірна сітка</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Матеріали</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Доставка та оплата</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Обмін та повернення</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Контакти</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Блог</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Публічна оферта</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Політика конфіденційності</a>
                        </li>
                        <li class="info-column__item">
                            <a href="#">Правила використання файлів Cookie</a>
                        </li>
                    </ul>
                    <div class="header__list-contact">
                        <a href="tel:+380968120013" class="footer__contacts-link">
                            <div class="footer__contacts-info footer__contacts-info_phone">
                                <span class="footer__contacts-title">+38 (096) 812 00 13</span>
                                <span class="footer__contacts-descr">Пн–Сб, 09:00–19:00</span>
                            </div>
                        </a>
                        <a href="mailto:hofner.ukraine@gmail.com" class="footer__contacts-link">
                            <div class="footer__contacts-info footer__contacts-info_mail">
                                <span class="footer__contacts-title">hofner.ukraine@gmail.com</span>
                                <span class="footer__contacts-descr">Електронна адреса</span>
                            </div>
                        </a>
                    </div>
                </nav>
                <div class="header__icons">
                    <a href="#" class="header__icon header__icon-search _icon-search">
                        <div class="header__icon-input">
                            <input type="text" placeholder="Пошук">
                        </div>
                    </a>
                    <div class="header__icon header__icon-man _icon-man"></div>
                    <a href="#" class="header__icon header__icon-heart _icon-heart"><span>4</span></a>
                    <a href="#" class="header__icon header__icon-cart _icon-cart"><span>28</span></a>
                </div>
            </div>
        </div>
    </div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_position.info"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    }
  ]
}
{% endschema %}
